@model IEnumerable<Motel.ViewModels.RoomTypeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrEdit">Create New</a>
</p>
<table id="example" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qkprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qk2price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tv)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BedQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qkprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qk2price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tv)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i>
                    </a> |
                    <a asp-action="Remove" asp-route-id="@item.Id">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}

