@model IEnumerable<Motel.ViewModels.RoomTypeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrEdit">Create New</a>
</p>
<table id="dataTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qkprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qk2price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tv)
            </th>
            <th class="nosort"></th>
        </tr>
    </thead>
    @*<tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BedQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hprice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qkprice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qk2price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirCondition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tv)
                    </td>
                    <td>
                        <a asp-action="AddOrEdit" asp-route-id="@item.Id">
                            <i class="fas fa-edit"></i>
                        </a> |
                        <a asp-action="Remove" asp-route-id="@item.Id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>*@
</table>


@section Scripts {
    <script>
        let $dataTable = $("#dataTable");
        $(document).ready(function () {
            $dataTable = $("#dataTable").DataTable({
                "ajax": {
                    "url": "/RoomType/GetAllDataApiJson",
                    "type": "GET",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": "nosort",
                    "orderable": false,
                }],
                "columns": [
                    {
                        "data": "name",
                        "width": "10%"
                    },
                    {
                        "data": "area",
                        "width": "10%"
                    },
                    {
                        "data": "bedQuantity",
                        "width": "10%"
                    },
                    {
                        "data": "price",
                        "width": "9%"
                    },
                    {
                        "data": "hprice",
                        "width": "9%"
                    },
                    {
                        "data": "qkprice",
                        "width": "10%"
                    },
                    {
                        "data": "qk2price",
                        "width": "10%"
                    },
                    {
                        "data": "airCondition",
                        "width": "12%",
                        className: "text-center",
                        "render": function (data, type, row, meta) {
                            return data === true ? `<i class="fas fa-check fa-lg text-success"></i>` : `<i class="fas fa-times fa-lg text-danger"></i>`;
                        }
                    },
                    {
                        "data": "tv",
                        "width": "12%",
                        className: "text-center",
                        "render": function (data, type, row, meta) {
                            return data === true ? `<i class="fas fa-check fa-lg text-success"></i>` : `<i class="fas fa-times fa-lg text-danger"></i>`;
                        }
                    },
                    {
                        "data": "id",
                        "width": "8%",
                        className: "text-center",
                        "render": function (data, type, row, meta) {
                            return `<a href="/RoomType/AddOrEdit/${data}">
                                           <i class="fas fa-edit fa-lg"></i>
                                        </a> |
                                        <a href="javascript:void(0)" onclick=deleteData("/RoomType/DeleteByDataApiJson/${data}")>
                                           <i class="fas fa-trash-alt fa-lg"></i>
                                        </a>`;
                        }
                    }
                ],
            });
        });

        function deleteData(url) {
            Swal.fire({
                title: "Are you sure?",
                text: 'You won"t be able to revert this!',
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: "DELETE"
                    }).done(function (data) {
                        if (data.success) {
                            Swal.fire(
                                "Deleted!",
                                "Your file has been deleted.",
                                "success"
                            )
                            $dataTable.ajax.reload();
                        } else {

                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    });
                    
                }
            })
        }
    </script>
}

