@model Application.ViewModels.OccupiedRoom.CompoundOccupiedRoomViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.OccupiedRoomDetailViewModel.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OccupiedRoomDetailViewModel.Id" />
            <input type="hidden" asp-for="OccupiedRoomDetailViewModel.CustomerId" />
            <input type="hidden" asp-for="OccupiedRoomDetailViewModel.RoomId" />
            <input type="hidden" asp-for="OccupiedRoomDetailViewModel.BeginDate" />
            <input type="hidden" asp-for="OccupiedRoomDetailViewModel.EndDate" />
            <input type="hidden" asp-for="OccupiedRoomDetailViewModel.CustomerName" />
            <input type="hidden" asp-for="OccupiedRoomDetailViewModel.Expense" />
            <input type="hidden" asp-for="OccupiedRoomDetailViewModel.RoomNumber" />
            <input type="hidden" asp-for="OccupiedRoomDetailViewModel.RoomTypeName" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.OccupiedRoomDetailViewModel.RoomNumber)
                        @Model.OccupiedRoomDetailViewModel.RoomNumber
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.OccupiedRoomDetailViewModel.RoomTypeName)
                        @Model.OccupiedRoomDetailViewModel.RoomTypeName
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.OccupiedRoomDetailViewModel.CustomerName)
                        @Model.OccupiedRoomDetailViewModel.CustomerName
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.OccupiedRoomDetailViewModel.BeginDate)
                        @Model.OccupiedRoomDetailViewModel.BeginDate.ToString("yyyy-MM-dd")
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.OccupiedRoomDetailViewModel.EndDate)
                        @Model.OccupiedRoomDetailViewModel.EndDate.ToString("yyyy-MM-dd")
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.OccupiedRoomDetailViewModel.Expense)
                        @Model.OccupiedRoomDetailViewModel.Expense
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label asp-for="OccupiedRoomDetailViewModel.CheckInDate" class="control-label col-sm-3"></label>
                        <div class="col-sm-9">
                            <input asp-for="OccupiedRoomDetailViewModel.CheckInDate" class="form-control" />
                            <span asp-validation-for="OccupiedRoomDetailViewModel.CheckInDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label asp-for="OccupiedRoomDetailViewModel.CheckOutDate" class="control-label col-sm-3"></label>
                        <div class="col-sm-9">
                            <input asp-for="OccupiedRoomDetailViewModel.CheckOutDate" class="form-control" />
                            <span asp-validation-for="OccupiedRoomDetailViewModel.CheckOutDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <label asp-for="OccupiedRoomDetailViewModel.Pay" class="control-label col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="OccupiedRoomDetailViewModel.Pay" class="form-control" readonly />
                            <span asp-validation-for="OccupiedRoomDetailViewModel.Pay" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
