@model Application.ViewModels.Customer.CustomerIndexViewModel


<div class="row">
    <div class="col-auto mr-auto">
        <form class="form-inline" asp-action="Search" onsubmit="return jQueryAjaxSearchPost(this);">
            <div class="form-group mx-sm-3 mb-2">
                <label asp-for="SearchString" class="mr-3">
                    @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Name)
                </label>
                <input asp-for="SearchString" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">搜尋</button>
        </form>
    </div>
    <div class="col-auto mr-3">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 140px;">
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().IdentityNum)
            </th>
            <th style="width: 65px;">
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Gender)
            </th>
            <th style="width: 120px;">
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Name)
            </th>
            <th style="width: auto;">
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Address)
            </th>
            <th style="width: 120px;">
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Tel)
            </th>
            <th style="width: 145px;">

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CustomerViewModelList != null && Model.CustomerViewModelList.Count > 0)
        {
            @foreach (var item in Model.CustomerViewModelList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel)
                    </td>
                    <td class="text-right">
                        <a onclick="showListPopup('@Url.Action("ReservationIndex","Reservation", new { id = @item.Id} ,Context.Request.Scheme)','列表')" class="btn btn-primary text-white">
                            預訂
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

@Model.PageNumber / @Model.TotalPages

<nav aria-label="Page navigation" id="navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled" data-num="@(Model.PageNumber - 1)"><a class="page-link" href="javascript:void(0);" onclick="jQueryAjaxPagePost(@(Model.PageNumber - 1))">上一頁</a></li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageNumber ==i ? "active" : "")"><a class="page-link" href="javascript:void(0)" onclick="jQueryAjaxPagePost(@i)">@i</a></li>
        }
        <li class="page-item @nextDisabled" data-num="@(Model.PageNumber + 1)"><a class="page-link" href="javascript:void(0)" onclick="jQueryAjaxPagePost(@(Model.PageNumber + 1))">下一頁</a></li>
    </ul>
</nav>

@Html.AntiForgeryToken()