@model Application.ViewModels.Reservation.ReservationIndexViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-auto mr-auto">
        <form class="form-inline" asp-action="Search" onsubmit="return jQueryAjaxSearchPost(this);">
            <div class="form-group mx-sm-3 mb-2">
                <label asp-for="SearchString" class="mr-3">

                </label>
                <input asp-for="SearchString" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">搜尋</button>
        </form>
    </div>
    <div class="col-auto mr-3">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationViewModelList.FirstOrDefault().BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationViewModelList.FirstOrDefault().CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationViewModelList.FirstOrDefault().RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationViewModelList.FirstOrDefault().Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationViewModelList.FirstOrDefault().CheckIn)
            </th>
            <th style="width: 145px;">

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ReservationViewModelList != null && Model.ReservationViewModelList.Count > 0)
        {
            @foreach (var item in Model.ReservationViewModelList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Days)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckIn)
                    </td>
                    <td class="text-right">
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Reservation",new {id=@item.Id},Context.Request.Scheme)','編輯')" class="btn btn-success text-white">
                            編輯
                        </a>
                        <a onclick="jQueryAjaxDelete('@Url.Action("Remove","Reservation",new {id=@item.Id},Context.Request.Scheme)', '@item.Id', '@Model.PageNumber')" class="btn btn-danger text-white">
                            刪除
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

@Model.PageNumber / @Model.TotalPages

<nav aria-label="Page navigation" id="navigationReservation">
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled" data-num="@(Model.PageNumber - 1)"><a class="page-link" href="javascript:void(0);" onclick="jQueryAjaxPagePost(@(Model.PageNumber - 1))">上一頁</a></li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageNumber ==i ? "active" : "")"><a class="page-link" href="javascript:void(0)" onclick="jQueryAjaxPagePost(@i)">@i</a></li>
        }
        <li class="page-item @nextDisabled" data-num="@(Model.PageNumber + 1)"><a class="page-link" href="javascript:void(0)" onclick="jQueryAjaxPagePost(@(Model.PageNumber + 1))">下一頁</a></li>
    </ul>
</nav>

@Html.AntiForgeryToken()