@model Application.ViewModels.CustomerIndexViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().IdentityNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Tel)
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit","Customer",null,Context.Request.Scheme)','新增')" class="btn btn-primary text-white">
                    新增
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CustomerViewModelList != null && Model.CustomerViewModelList.Count > 0)
        {
            @foreach (var item in Model.CustomerViewModelList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel)
                    </td>
                    <td>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Customer",new {id=@item.Id},Context.Request.Scheme)','編輯')" class="btn btn-success text-white">
                            編輯
                        </a>
                        <a onclick="jQueryAjaxDelete('@Url.Action("Remove","Customer",new {id=@item.Id},Context.Request.Scheme)','@item.Id')" class="btn btn-danger text-white">
                            刪除
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
