@model IEnumerable<Motel.ViewModels.CustomerViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    <div>Hello, @User.Identity.Name</div>
}
<p>
    <a asp-action="AddOrEdit">Create New</a>
</p>
<table id="dataTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th class="nosort"></th>
        </tr>
    </thead>
</table>


@section Scripts {
    <script>
        let $dataTable = $("#dataTable");
        $(document).ready(function () {
            $dataTable = $("#dataTable").DataTable({
                "ajax": {
                    "url": "/Customer/GetAllDataApiJson",
                    "type": "GET",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": "nosort",
                    "orderable": false,
                }],
                "columns": [
                    {
                        "data": "identityNum",
                        "width": "15%"
                    },
                    {
                        "data": "gender",
                        "width": "10%"
                    },
                    {
                        "data": "name",
                        "width": "10%"
                    },
                    {
                        "data": "address",
                        "width": "40%"
                    },
                    {
                        "data": "tel",
                        "width": "15%"
                    },
                    {
                        "data": "id",
                        "width": "10%",
                        className: "text-center",
                        "render": function (data, type, row, meta) {
                            return `<a href="/Customer/AddOrEdit/${data}">
                                               <i class="fas fa-edit fa-lg"></i>
                                            </a> |
                                            <a href="javascript:void(0)" onclick=deleteData("/Customer/DeleteByDataApiJson/${data}")>
                                               <i class="fas fa-trash-alt fa-lg"></i>
                                            </a>`;
                        }
                    }
                ],
            });
        });

        function deleteData(url) {
            Swal.fire({
                title: "Are you sure?",
                text: 'You won"t be able to revert this!',
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: "DELETE"
                    }).done(function (data) {
                        if (data.success) {
                            Swal.fire(
                                "Deleted!",
                                "Your file has been deleted.",
                                "success"
                            )
                            $dataTable.ajax.reload();
                        } else {

                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    });

                }
            })
        }
    </script>
}
