@model Motel.ViewModels.CustomerIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form asp-action="Index" method="post">
    <div class="form-actions no-color">
        <p>
            Find by name:  <input asp-for="@Model.SearchString" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>

    <p>
        <a asp-action="AddOrEdit" class="btn btn-primary btn-sm">
            新增
        </a>
    </p>
    <div class="clearfix">
        <span class="float-left">Float left</span>
        <div class="float-right">
            <a asp-action="AddOrEdit" class="btn btn-primary btn-sm">新增</a>
        </div>
    </div>
    <div class="d-flex flex-row-reverse bg-secondary">
        <div class="p-2 bg-info">Flex item 1</div>
        <div class="p-2 bg-warning">Flex item 2</div>
        <div class="p-2 bg-primary">Flex item 3</div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().IdentityNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerViewModelList.FirstOrDefault().Tel)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CustomerViewModelList != null && Model.CustomerViewModelList.Count > 0)
            {
                @foreach (var item in Model.CustomerViewModelList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdentityNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tel)
                        </td>
                        <td>
                            <a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-success btn-sm">編輯</a>
                            <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger btn-sm">刪除</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <button type="submit"
            asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageNumber - 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-primary btn-sm @prevDisabled">
        上一頁
    </button>
    @Model.PageNumber / @Model.TotalPages
    <button type="submit"
            asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageNumber + 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-primary btn-sm @nextDisabled">
        下一頁
    </button>
</form>